/* table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}


 */
body {
    padding: 15px;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btn-submit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}