@import controllers.ChangePasswordData
@import play.api.data.Form
@(form: Form[ChangePasswordData])(implicit request: MessagesRequestHeader)

@main("Change Password") {
    @b4.vertical.formCSRF(routes.ChangePasswordController.completePasswordChange()) { implicit vfc =>
        @b4.password(form("curr_password"), Symbol("_label") -> "Current Password", Symbol("autofocus") -> "autofocus")
        @b4.password(form("new_password"), Symbol("_label") -> "New Password", Symbol("autofocus") -> "autofocus")
        @b4.password(form("new_password_confirm"), Symbol("_label") -> "New Password (with Feeling!)", Symbol("autofocus") -> "autofocus")
        @b4.submit(Symbol("class") -> "btn btn-primary") {
            <i class="fa fa-ok btn-submit"></i> Change Password
        }
    }
    <a class="btn btn-secondary" href="@routes.HomeController.index()">Go Back</a>
}