@import services.rules.PathRule
@import services.users.User
@(user: Option[User], rules: List[PathRule], users: List[User])

@main("Authentication") {
  <h1>Welcome to the auth thingie!</h1>

  @if(user.isEmpty) {
    <h2>Not logged in</h2>
    <h3><a href="/login">Click here to login</a></h3>
  } else {
    <h2>Logged in as @user.get.username</h2>
    <h3><a href="/logout">Click here to logout</a></h3>

    @if(rules.nonEmpty) {
      <h2>Path Rules</h2>
      <table class="rule_table">
        <tr>
          <th>Name</th>
          <th>Protocol</th>
          <th>Host</th>
          <th>Path</th>
          <th>Public?</th>
          <th>Permitted Roles</th>
        </tr>
      @for(rule <- rules) {
        <tr>
          <td>
            @rule.name
          </td>
          <td>
            @rule.protocolPattern.getOrElse("*")
          </td>
          <td>
            @rule.hostPattern.getOrElse("*")
          </td>
          <td>
            @rule.pathPattern.getOrElse("*")
          </td>
          <td>
            @rule.public.toString
          </td>
          <td>
            @rule.permittedRoles.mkString("[", ", ", "]")
          </td>
        </tr>
      }
      </table>
    }

    @if(users.nonEmpty) {
      <h2>Users</h2>
      <table class="user_table">
        <tr>
          <th>Username</th>
          <th>Is Admin?</th>
          <th>Roles</th>
        </tr>
        @for(user <- users) {
          <tr>
            <td>
              @user.username
            </td>
            <td>
              @user.admin.toString
            </td>
            <td>
              @user.roles.mkString("[", ", ", "]")
            </td>
          </tr>
        }
      </table>
    }

  }
}
