@(form: Form[LoginData], redirectUrl: String, postUrl: Call)(implicit request: MessagesRequestHeader)


@main("Login form") {
    @request.flash.data.map{ case (name, value) =>
        <div>@name: @value</div>
    }

    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                Error: @error.key: @error.message
            </div>
        }
    }

    @helper.form(postUrl, 'id -> "login_form") {
        @helper.CSRF.formField

        @helper.inputText(form("username"), 'id -> "username", 'size -> 20)
        @helper.inputPassword(form("password"), 'id -> "password", 'size -> 20)
        <input type="hidden" name="redirectUrl" value="@redirectUrl" />

        <button>Login</button>
    }
}
