@import services.duo.PreAuthResponse
@(authData: PreAuthResponse)

@main("Socket test") {
    <div class="col col-sm-6 offset-sm-3 login-form">
        <h1>Duo Two Factor</h1>
        <label for="device">Select a device for a push notification:</label>
        <select name="device" id="device" class="custom-select">
        @for(curr <- authData.devices) {
            <option value="@curr.device">@curr.number</option>
        }
        </select>
        <p></p>

        <div>
            <span><button class="btn btn-primary" onclick="initLogin()">Send Notification</button></span>
            <span id="spinner" class="spinner-border" style="display: none"></span><span style="padding-left: 10px" id="status"></span>
        </div>
    </div>



    <script src="@routes.Assets.versioned("javascripts/socket_test.js")" type="text/javascript"></script>
}
