@import services.duo.PreAuthResponse
@(showTotp: Boolean, form: Form[TotpData], postUrl: Call, error: Option[String], duoInfo: Option[PreAuthResponse], duoSocket: Call)(implicit request: MessagesRequestHeader)


    @main("TOTP") {
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    Error: @error.key: @error.message
                </div>
            }
        }

        <div class="col col-sm-6 offset-md-3 login-form">
            <h3>Two-Factor Auth</h3>

            @if(error.isDefined) {
                <div class="alert alert-danger">
                @error.get
                </div>
            }

            @if(showTotp) {
                @b4.vertical.formCSRF(postUrl) { implicit vfc =>
                    @b4.text(form("totpCode"), Symbol("_label") -> "TOTP Code", Symbol("size") -> 10, Symbol("autofocus") -> "autofocus")

                    @b4.submit(Symbol("class") -> "btn btn-primary") {
                        <i class="fa fa-ok btn-submit"></i> Go }
                }
            }

            @if(duoInfo.isDefined) {
                <h4>Duo Two Factor</h4>
                @if(duoInfo.get.result != "auth") {
                    <p>
                        Duo Auth is enabled for this user, but the user is not set up properly in Duo
                    </p>
                } else {
                    <label for="device">Select a device for push notifications:</label>
                    <select name="device" id="device" class="custom-select">
                    @for(curr <- duoInfo.get.devices.filter(_.capabilities.contains("push"))) {
                        <option value="@curr.device">@curr.number</option>
                    }
                    </select>

                    <div>
                        <span><button class="btn btn-primary" onclick="initLogin('@duoSocket.webSocketURL(request.uri.toLowerCase.startsWith("https"))')">Send Notification</button></span>
                        <span id="spinner" class="spinner-border" style="display: none"></span><span style="padding-left: 10px" id="status"></span>
                    </div>

                    <script src="@routes.Assets.versioned("javascripts/socket_test.js")" type="text/javascript"></script>
                }
            }
        </div>
    }
