@(form: Form[TotpData], postUrl: Call, error: Option[String])(implicit request: MessagesRequestHeader)


    @main("TOTP") {
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    Error: @error.key: @error.message
                </div>
            }
        }

        <div class="col col-sm-6 offset-md-3 login-form">
            <h3>Two-Factor Auth</h3>

            @if(error.isDefined) {
                <div class="alert alert-danger">
                @error.get
                </div>
            }

            @b4.vertical.formCSRF(postUrl) { implicit vfc =>
                @b4.text(form("totpCode"), Symbol("_label") -> "TOTP Code", Symbol("size") -> 10, Symbol("autofocus") -> "autofocus")

                @b4.submit(Symbol("class") -> "btn btn-primary") {
                    <i class="fa fa-ok btn-submit"></i> Go }
            }
        </div>
    }
